<div id="banner" class="container-fluid">
  <div class="other-draaaaaaaaagon row hidden-xs"></div>
  <div class="row">
    <div class="hidden-xs col-sm-6 col-sm-push-6 col-md-4 col-md-push-7">
      <div data-ng-include data-src="'partials/form.html'" class="floating-form hidden-xs"></div>
    </div>
    <div class="col-xs-6 col-sm-4 col-sm-pull-6 col-md-3 col-md-pull-3 degreebox">
      <span class="type">Elemental Wizard</span>
      <span class="cert">Masters Degree - <span class="italic">Online</span></span>
    </div>
    <div class="hidden-xs col-sm-6 col-sm-pull-6 col-md-5 col-md-pull-3">
      <div data-ng-include data-src="'partials/degree-dscrpt.html'" class="hidden-xs"></div>
    </div>
  </div>
</div>