<div id="earn" class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="title">Earn your Bachelor's degree in 32 months</h1>
      <ul class="list-unstyled fa-ul">
        <li><i class="hidden-xs fa-li fa fa-chevron-right"></i>Degree length is half the time on average</li>
        <li><i class="hidden-xs fa-li fa fa-chevron-right"></i>Programs begin every month - no need to wait a semester</li>
        <li><i class="hidden-xs fa-li fa fa-chevron-right"></i>Graduate earlier so you can pursue your career sooner</li>
      </ul>
    </div>
  </div>
</div>