<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-3 col-md-4 col-md-push-4">
      <img class="visible-xs" src="img/footer_logo.png">
      <a href="#" class="hidden-xs btn btn-warning btn-block requestinfo"> Request Info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-12">
      <p>© 2013 Full Sail, Inc. All rights reserved.</p>
      <p>3300 University Blvd Winter Park, FL 32792 Accredited University, ACCSC</p>
      <p><a href="#">Privacy Policy</a>  •  <a href="#">Consumer disclosures</a></p> 
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-md-10 col-md-push-1">
      <p class="bold">* Project LaunchBox™ is a degree-specific technology package that is made available to students at a deep institutional discount. In an effort to make the most current technology available to its students, Full Sail reserve s the right to replace equipment in the student technology package in favor of newer models.</p>
      <p>For more information about Full Sail's programs, courses, and studios, as well as details about financial aid and career development, please visit our website at <a href="#">www.fullsail.edu</a> 3300 University Blvd · Winter Park, FL 32792 · Financial aid available for those who qualify · Career development assistance · Accredited University, ACCSC</p>
      <p>Other product and company names mentioned herein may be the trademarks of their respective owners.</br>
      The appearance of these marks does not necessarily indicate a formalized sponsorship or affiliation with other such companies.</br>
      © 2013 Full Sail, LLC. All rights reserved. The terms "Full Sail," "Full Sail University," "If you're serious about your dream, we'll take your dream seriously,"</br>
      "Full Sail Real World Education," and the Full Sail logo are either registered service marks or services marks of Full Sail, LLC.</p>
      <p><a href="#">Click Here for Privacy Policy</a> | <a href="#">Click here for consumer disclosures</a></p>
    </div>
  </div>
</div>