<div id="form" class="container-fluid">
  <form>
    <a href="#" class="btn btn-warning callus btn-block visible-xs">Call us: 800.226.7625</a>
    <p class="callus hidden-xs text-center">Call us: 800.226.7625</p>
    <div class="radio">
      <span>REQUEST INFO</span>
      <label class="radio-inline pull-right hidden-sm">
        <input type="radio" name="requestinfo" id="radioOnline" value="online">
        <span class="offset">Online</span>
      </label>
      <label class="radio-inline pull-right hidden-sm">
        <input type="radio" name="requestinfo" id="radioCampus" value="campus">
        <span class="offset">Campus</span>
      </label>
    </div>

    <div class="form-group hidden-sm">
      <label for="exampleInputEmail1">Degree Program</label>
      <div class="input-group input-group-lg">
        <input type="email" class="form-control" id="exampleInputEmail1">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="#">Wizard</a></li>
            <li><a href="#">Fighter</a></li>
            <li><a href="#">Rouge</a></li>
            <li class="divider"></li>
            <li><a href="#">Cleric</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">First Name</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Phone</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Zip</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <label id="textmessages" class="radio-inline">
      <input type="checkbox" name="yestexts" id="txtmsgradio" value="texts">
      <span class="offset">I would like to recieve text messages</span>
    </label>
    <a href="#" class="btn btn-warning submit btn-block">SUBMIT</a>
  </form>
  <div id="disclaimer" class="row">
    <div class="col-xs-12">
      <p>By submitting this form, I give consent to Full Sail University and its partners (RMCAD and LA Film School) to contact me by telephone (including autodialed and prerecorded messages) at the number I have provided to receive information about Full Sail's offerings. I understand that this consent is not required in order to enroll.</p>
    </div>
  </div>
</div>